a:link{
text-decoration:none;
color:#000;
}

a:visited{
	color:black;
	text-decoration:black;
}

#body{
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:0px;
}

#glavna_prica{
width:1120px;
height:3918px;
margin-top:0px;
margin-right:auto;
margin-bottom:0px;
margin-left:auto;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:0px;
background-image:url(pozadine/eksterijer_i_enterijer_1_pozadina.jpg);
background-position: 0 12px;
}

header{
width:960px;
height:320px;
position:absolute;
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:80px;
background-image:url(header/memorandum.png);
}

header p{
margin-top:250px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
font-size:23px;
color:#000000;
white-space: nowrap;
text-align:center;
}

#srb{
width:88px;
height:88px;
position:absolute;
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:608px;
background-image:url(header/srb_1.png);
}

#srb p{
margin-top:68px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:17px;
color:#000000;
text-align:center;

}

#srb:hover{
background-image:url(header/srb_2.png);
text-decoration:underline;
}

#eng{
width:88px;
height:88px;
position:absolute;
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:696px;
background-image:url(header/eng_2.png);
}

#eng p{
margin-top:68px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:17px;
color:#000000;
text-align:center;
text-decoration:underline;
}

#fra{
width:88px;
height:88px;
position:absolute;
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:784px;
background-image:url(header/fra_1.png);
}

#fra p{
margin-top:68px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:17px;
color:#000000;
text-align:center;
}

#fra:hover{
background-image:url(header/fra_2.png);
text-decoration:underline;
}

#ger{
width:88px;
height:88px;
position:absolute;
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:872px;
background-image:url(header/ger_1.png);
}

#ger p{
margin-top:68px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:17px;
color:#000000;
text-align:center;
}

#ger:hover{
background-image:url(header/ger_2.png);
text-decoration:underline;
}

#kontekst{
width:960px;
height:2993px;
position:absolute;
margin-top:320px;
margin-right:auto;
margin-bottom:auto;
margin-left:80px;
}









#meni{
width:960px;
height:265px;
position:absolute;
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
background-image:url(meni/meni_pozadina.png);
}

div.meni_projektovanje{
width:236px;
height:220px;
position:absolute;
margin-top:40px;
margin-right:auto;
margin-bottom:auto;
margin-left:50px;
background-image:url(meni/meni_projektovanje_2.png);
transition:100ms;
}

div.meni_projektovanje p{
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:53px;
color:#000000;
white-space: nowrap;
text-align:center;
transition:100ms;
text-decoration:underline;
}


div.meni_eksterijer_i_enterijer{
width:351px;
height:225px;
position:absolute;
margin-top:40px;
margin-right:auto;
margin-bottom:auto;
margin-left:336px;
background-image:url(meni/meni_eksterijer_i_enterijer_1.png);
}

div.meni_eksterijer_i_enterijer p{
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:53px;
color:#000000;
white-space: nowrap;
text-align:center;

}

div.meni_eksterijer_i_enterijer:hover{
background-image:url(meni/meni_eksterijer_i_enterijer_2.png);
text-decoration:underline;
}

div.meni_izgradnja{
width:174px;
height:190px;
position:absolute;
margin-top:40px;
margin-right:auto;
margin-bottom:auto;
margin-left:737px;
background-image:url(meni/meni_izgradnja_1.png);
transition:100ms;
}

div.meni_izgradnja p{
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:53px;
color:#000000;
white-space: nowrap;
text-align:center;
transition:100ms;
}

div.meni_izgradnja:hover{
background-image:url(meni/meni_izgradnja_2.png);
text-decoration:underline;
}












#naslov_kataloga{
width:960px;
height:70px;
position:absolute;
margin-top:274px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
}

#naslov_kataloga p{
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:53px;
color:#000000;
text-align:left;
}

#slika_1{
width:960px;
height:540px;
position:absolute;
margin-top:384px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
background-image:url(projektovanje/strana_1_slika_1_1.png);
transition:500ms;
}

#slika_1:hover{
background-image:url(projektovanje/strana_1_slika_1_2.jpg);
}

#slika_2{
width:960px;
height:540px;
position:absolute;
margin-top:964px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
background-image:url(projektovanje/strana_1_slika_2_1.png);
transition:500ms;
}

#slika_2:hover{
background-image:url(projektovanje/strana_1_slika_2_2.jpg);
}

#slika_3{
width:960px;
height:540px;
position:absolute;
margin-top:1544px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
background-image:url(projektovanje/strana_1_slika_3_1.png);
transition:500ms;
}

#slika_3:hover{
background-image:url(projektovanje/strana_1_slika_3_2.jpg);
}

#slika_4{
width:960px;
height:540px;
position:absolute;
margin-top:2124px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
background-image:url(projektovanje/strana_1_slika_4_1.png);
transition:500ms;
}

#slika_4:hover{
background-image:url(projektovanje/strana_1_slika_4_2.jpg);
}

#numeracija{
width:960px;
height:159px;
position:absolute;
margin-top:2704px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
}

div.strelica_nazad{
width:85px;
height:78px;
position:absolute;
margin-top:40px;
margin-right:auto;
margin-bottom:auto;
margin-left:315px;
background-image:url(eksterijer_i_enterijer/strelica_nazad.png);
transition:500ms;
}

div.strelica_nazad p{
margin-top:25px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:22px;
color:#000000;
white-space: nowrap;
text-align:center;
transition:100ms;
opacity:0.3;
}

div.strelica_nazad:hover>p{
opacity:1;
}

div.trenutna_strana{
width:85px;
height:78px;
position:absolute;
margin-top:40px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
}

div.trenutna_strana p{
margin-top:7px;
margin-right:auto;
margin-bottom:auto;
margin-left:448px;
font-family:brush_script_mtitalic;
font-size:53px;
color:#000000;
white-space: nowrap;
text-align:center;
transition:100ms;
text-decoration:underline;
}

div.strelica_napred{
width:85px;
height:78px;
position:absolute;
margin-top:40px;
margin-right:auto;
margin-bottom:auto;
margin-left:560px;
background-image:url(eksterijer_i_enterijer/strelica_napred.png);
transition:500ms;
}

div.strelica_napred p{
margin-top:25px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:22px;
color:#000000;
white-space: nowrap;
text-align:center;
transition:100ms;
opacity:0.3;
}

div.strelica_napred:hover>p{
opacity:1;
}

#kontakt_naslov{
width:960px;
height:106px;
position:absolute;
margin-top:2822px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
background-image:url(eksterijer_i_enterijer/kontakt_naslov_pozadina.png);
}

div.kontakt_naslov_tekst{
width:480px;
height:106px;
position:absolute;
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
}

div.kontakt_naslov_tekst p{
margin-top:12px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:106px;
color:#000000;
white-space: nowrap;
text-align:left;
}

div.pdf_referenc_lista{
width:160px;
height:92px;
position:absolute;
margin-top:14px;
margin-right:auto;
margin-bottom:auto;
margin-left:800px;
background-image:url(eksterijer_i_enterijer/pdf_referenc_lista_1.png);
transition:270ms;
}

div.pdf_referenc_lista p{
margin-top:65px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:22px;
color:#000000;
white-space: nowrap;
text-align:left;
transition:270ms;
}

div.pdf_referenc_lista:hover{
background-image:url(eksterijer_i_enterijer/pdf_referenc_lista_2.png);
text-decoration:underline;
}










footer{
width:960px;
height:725px;
position:absolute;
margin-top:3248px;
margin-right:auto;
margin-bottom:auto;
margin-left:80px;
}

div.adresa_cuprija{
width:320px;
height:177px;
position:absolute;
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
}

div.adresa_ikona_cuprija{
width:89px;
height:105px;
position:absolute;
margin-top:40px;
margin-right:auto;
margin-bottom:auto;
margin-left:115px;
background-image:url(footer/adresa_ikona_1.png);
transition:270ms;
}

div.adresa_ikona_cuprija p{
margin-top:32px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:17px;
color:#000000;
white-space: nowrap;
text-align:center;
}

.dodatak_slovu_c_4{
width:4px;
height:4px;
position:absolute;
margin-top:32px;
margin-right:auto;
margin-bottom:auto;
margin-left:33px;
background-image:url(footer/dodatak_slovu_c.png);
}

div.adresa_ikona_cuprija:hover{
background-image:url(footer/adresa_ikona_2.png);
text-decoration:underline;
}
	
div.ulica_cuprija{
margin-top:154px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
font-size:17px;
color:#000000;
white-space: nowrap;
text-align:center;
}


div.ulica_cuprija:hover{
text-decoration:underline;
}

div.adresa_jagodina{
width:320px;
height:177px;
position:absolute;
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:320px;
}

div.adresa_ikona_jagodina{
width:89px;
height:105px;
position:absolute;
margin-top:40px;
margin-right:auto;
margin-bottom:auto;
margin-left:115px;
background-image:url(footer/adresa_ikona_1.png);
transition:270ms;
}

div.adresa_ikona_jagodina p{
margin-top:32px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:17px;
color:#000000;
white-space: nowrap;
text-align:center;
}

div.adresa_ikona_jagodina:hover{
background-image:url(footer/adresa_ikona_2.png);
text-decoration:underline;
}
	
div.ulica_jagodina{
margin-top:154px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
font-size:17px;
color:#000000;
white-space: nowrap;
text-align:center;
}

div.ulica_jagodina:hover{
text-decoration:underline;
}

div.adresa_despotovac{
width:320px;
height:177px;
position:absolute;
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:640px;
}

div.adresa_ikona_despotovac{
width:89px;
height:105px;
position:absolute;
margin-top:40px;
margin-right:auto;
margin-bottom:auto;
margin-left:115px;
background-image:url(footer/adresa_ikona_1.png);
transition:270ms;
}

div.adresa_ikona_despotovac p{
margin-top:32px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:brush_script_mtitalic;
font-size:17px;
color:#000000;
white-space: nowrap;
text-align:center;
}

div.adresa_ikona_despotovac:hover{
background-image:url(footer/adresa_ikona_2.png);
text-decoration:underline;
}
	
div.ulica_despotovac{
margin-top:154px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
font-size:17px;
color:#000000;
white-space: nowrap;
text-align:center;
}

div.ulica_despotovac:hover{
text-decoration:underline;
}

#telefon_cuprija{
width:203px;
height:22px;
margin-top:180px;
margin-right:auto;
margin-bottom:auto;
margin-left:59px;
font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
font-size:17px;
color:#000000;
white-space: nowrap;
text-align:right;
background-image:url(footer/telefon_ikona_1.png);
transition:270ms;
}

#telefon_cuprija:hover{
background-image:url(footer/telefon_ikona_2.png);
text-decoration:underline;
}

#telefon_jagodina{
width:203px;
height:22px;
margin-top:-37px;
margin-right:auto;
margin-bottom:auto;
margin-left:378px;
font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
font-size:17px;
color:#000000;
white-space: nowrap;
text-align:right;
background-image:url(footer/telefon_ikona_1.png);
transition:270ms;
}

#telefon_jagodina:hover{
background-image:url(footer/telefon_ikona_2.png);
text-decoration:underline;
}

#telefon_despotovac{
width:203px;
height:22px;
margin-top:-39px;
margin-right:auto;
margin-bottom:auto;
margin-left:701px;
font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
font-size:17px;
color:#000000;
white-space: nowrap;
text-align:right;
background-image:url(footer/telefon_ikona_1.png);
transition:270ms;
}

#telefon_despotovac:hover{
background-image:url(footer/telefon_ikona_2.png);
text-decoration:underline;
}

#fax_cuprija{
width:203px;
height:22px;
margin-top:-20px;
margin-right:auto;
margin-bottom:auto;
margin-left:59px;
font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
font-size:17px;
color:#000000;
white-space: nowrap;
text-align:right;
background-image:url(footer/fax_ikona_1.png);
transition:270ms;
}

#fax_cuprija:hover{
background-image:url(footer/fax_ikona_2.png);
text-decoration:underline;
}

#fax_jagodina{
width:203px;
height:22px;
margin-top:-38px;
margin-right:auto;
margin-bottom:auto;
margin-left:378px;
font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
font-size:17px;
color:#000000;
white-space: nowrap;
text-align:right;
background-image:url(footer/fax_ikona_1.png);
transition:270ms;
}

#fax_jagodina:hover{
background-image:url(footer/fax_ikona_2.png);
text-decoration:underline;
}

#fax_despotovac{
width:203px;
height:22px;
margin-top:-38px;
margin-right:auto;
margin-bottom:auto;
margin-left:701px;
font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
font-size:17px;
color:#000000;
white-space: nowrap;
text-align:right;
background-image:url(footer/fax_ikona_1.png);
transition:270ms;
}

#fax_despotovac:hover{
background-image:url(footer/fax_ikona_2.png);
text-decoration:underline;
}

div.email{
width:320px;
height:187px;
position:absolute;
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
}

div.email_ikona{
width:101px;
height:94px;
position:absolute;
margin-top:31px;
margin-right:auto;
margin-bottom:auto;
margin-left:110px;
background-image:url(footer/email_ikona_1.png);
}

div.email_ikona:hover{
background-image:url(footer/email_ikona_2.png);
text-decoration:underline;
}
	
div.email p{
margin-top:140px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
font-size:17px;
color:#000000;
white-space: nowrap;
text-align:center;
}

div.email p:hover{
text-decoration:underline;
}

#puja{
width:200px;
height:200px;
position:absolute;
margin-top:234px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
background-image:url(footer/puja_slika_1.png);
transition:270ms;
}

#puja:hover{
background-image:url(footer/puja_slika_2.png);	
}

#vek{
width:200px;
height:200px;
position:absolute;
margin-top:234px;
margin-right:auto;
margin-bottom:auto;
margin-left:253px;
background-image:url(footer/vek_slika_1.png);
transition:270ms;
}

#vek:hover{
background-image:url(footer/vek_slika_2.png);	
}

#spira{
width:200px;
height:200px;
position:absolute;
margin-top:234px;
margin-right:auto;
margin-bottom:auto;
margin-left:506px;
background-image:url(footer/spira_slika_1.png);
transition:270ms;
}

#spira:hover{
background-image:url(footer/spira_slika_2.png);	
}

#vuk{
width:200px;
height:200px;
position:absolute;
margin-top:234px;
margin-right:auto;
margin-bottom:auto;
margin-left:760px;
background-image:url(footer/vuk_slika_1.png);
transition:270ms;
}

#vuk:hover{
background-image:url(footer/vuk_slika_2.png);	
}

div.facebook_i_kucica{
width:960px;
height:75px;
position:absolute;
margin-top:473px;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
background-image:url(footer/facebook_i_kucica.png);
}

.pravo {
margin-top:56px;
margin-right:auto;
margin-bottom:auto;
margin-left:0px;
font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
font-size:17px;
color:#000000;
white-space: nowrap;
}

.stoing {
width:100px;
height:17px;
margin-top:-54px;
margin-right:0px;
margin-bottom:auto;
margin-left:auto;
font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
font-size:17px;
color:#000000;
white-space: nowrap;
float:right;
}

div.stoing p:hover{
text-decoration:underline;
}

div.facebook_ikona{
width:48px;
height:48px;
margin-top:auto;
margin-right:auto;
margin-bottom:auto;
margin-left:auto;
position:absolute;
background-image:url(footer/facebook_1.png);
transition:270ms;
}

div.facebook_ikona:hover{
background-image:url(footer/facebook_2.png);
}

div.kucica{
width:53px;
height:43px;
margin-top:15px;
margin-right:auto;
margin-bottom:auto;
margin-left:907px;
position:absolute;
background-image:url(footer/kucica.png);
}

.top{
	
	bottom: 2em;
	
	display: none;
	opacity:0.6;
	
	position: fixed;
	right: 1.5em;
	text-decoration: none;
}
.top:hover{
	opacity:1;
	transition:0,7s;
}

